.vscode
.DS_Store
venv/
.env
.env.dev
.env.prod
app/.env
app/.env.dev
app/.env.prod
*.pyc
config.py
app/backend/migrations/
gunicorn/
nginx/nginx_server.conf
experiments/
app/BEIS/
app/static/
app/frontend/build/
app/subregions/
app/data/
app/data.zip
app/frontend/node_modules/